:root {
    --primary-color: #721738;
    --secondary-color: #333;
    --tertiary-color: #560e24;
    --quaternary-color: #fff;
    --quintenary-color: #66253d;
  }
  



.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#form-container, #table-container {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: var(--tertiary-color);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid var(--primary-color);
}

button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: var(--quintenary-color);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.showList{
    display: flex;
    justify-content: center;
}

button:hover {
    background: var(--tertiary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.actions {
    text-align: center;
}
